.custom-input[data-v-54367c79]{font-size:.875rem;line-height:1.25rem;padding:.625rem .625rem .625rem 1rem;border-radius:.5rem;width:100%}.border-custom[data-v-54367c79]{border-color:red;border-right-width:1px!important}
